<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All customers</title>
</head>
<body>
<h1>Welcome Mart!!</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer : ${customerinfo}">
    <td th:text="${customer.customerId}"></td>
    <td th:text="${customer.name}"></td>
    <td>
      <a th:href="@{/customers/detail_list/{id}(id=${customer.customerId})}">상세 목록보기</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/customers/create">로그인 하기</a>
<button type="submit">로그인 하기</button>
</body>
</html>